# MongoDB Configuration
MONGO_URI=mongodb+srv://AURA1142:cXMrRqB2sI16TEF5@aura.9g2ghbj.mongodb.net/?appName=Aura

# JWT Secret
JWT_SECRET=aamkaachaar

# Server Port
PORT=5000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dgiggtwoy
CLOUDINARY_API_KEY=664998912519217
CLOUDINARY_API_SECRET=1U4POW0PG7tLlWOxxWXf14QnYlI
